// Colores base de la app
$primary: #2C3E50;
//$secondary: #3498DB;
$secondary: #67839A;
$light: #E3EBF3;
$background: #F5F8FA;
$dark: #19222A;
$link: #14A589;

a {
  color: $link;

  &:hover {
    color: darken($link, 8%);
  }
}

h1 {
  color: $light !important;
}

h4 {
  margin-bottom: .4rem;
  margin-top: .4rem;
  font-size: 1.3rem;
}

h6, .h6 {
  font-size: 0.7rem;
  margin-bottom: -0.4rem;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.9;
  color: $secondary;
  line-height: 1; 
  font-family: Arial;
}

.bslib-page-title {
  font-size: 2.2rem !important;
  color: $light !important;
}

.navbar {
  background-color: $primary !important;
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
}

.card-header {
  background-color: $secondary !important;
  color: $background !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background-color: $secondary !important;
  color: $light !important;
  border-color: $secondary $secondary $light;
}

.bslib-card .card-body {
  background-color: white !important;
}

.form-control {
  background-color: white !important;
}

.form-label, .shiny-input-container .control-label {
  margin-bottom: .3rem !important;
}

.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
}

.btn-primary:hover {
  background-color: darken($primary, 8%) !important;
  border-color: darken($primary, 8%) !important;
}

// Estilo para los h5 dentro de la card de cálculos detallados
#calculos_detallados_ui h5 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: $primary;
}

#calculos_detallados_ui hr {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#calculos_detallados_ui p {
  margin-bottom: 0.3rem;
}

.app-title-wrapper {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.app-title-wrapper h5 {
  margin-bottom: 0;
}

.app-title {
  font-size: 190%;
  margin-bottom: 0;
}

.app-subtitle {
  opacity: 0.7;
}

.no-results-msg {
  opacity: 0.4;
}

.alert {
  border: solid 1px #11A084 !important;
  margin-bottom: 0 !important;
}

.input-format {
  opacity: .6;
  font-size: 80%;
  padding-left: 6px !important;
}

.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  opacity: 0.5 !important;
}